
# Gradle installation
/.gradle

# IntelliJ project files
/.idea
*.iml

# build output
build/

# JarHC cache (note: moved to ~/.jarhc)
/.jarhc

# JarHC reports produced with local testing
/reports
/report.html
/report.txt
/report-*

# Profiler shapshots and heap dumps
*.jps
*.hprof
*.jfr

# user-specific files
gradle.user.properties
*.gpg
.java-version

# files used for local testing
/test
/run-*.sh

# macOS files
.DS_Store
