body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 20px;
	font-size: 0.8rem;
}

table {
	border-collapse: collapse;
}

th {
	background-color: lightgray;
}

th, td {
	border: 1px solid gray;
	padding: 0.3rem;
	vertical-align: top;
	text-align: left;
	white-space: nowrap;
}